<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SlowPerformanceMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SlowPerformanceMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Version" value="Beta1.0" />
    <!--If you have multiple URLs then pls separate them with ";"-->
    <add key="Url" value="http://www.bing.com;http://www.douban.com;http://www.google.com" />
    <!--1 - IE; 2 - Chrome; 3 - FireFox; 4 - Edge-->
    <add key="BroswerType" value="1" />
    <add key="PageLoadTimeoutInSeconds" value="600" />
    <add key="MonitorDays" value="7" />
    <add key="TimeSpanToSleepInSeconds" value="3" />
    <add key="IsSignInRequired" value="True" />
    <add key="ManuallySignInTimeInSeconds" value="180" />
    <add key="SlowPerformancePageLoadThreshold" value="10" />
    <add key="SlowPerformanceReoccurrenceThreshold" value="3" />
    <add key="EmailToEmailAddress" value="chunlonl@microsoft.com" />
    <add key="EmailFromEmailAddress" value="57795973@qq.com" />
    <add key="EmailCcEmailAddress" value="57795973@qq.com" />
    <add key="EmailSubject" value="Slow performance was detected" />
    <add key="EmailBody" value="Slow performance was detected just now, pls check PageLoadMetricsCsv and log file for more details. " />
    <add key="EmailSmtpAddress" value="smtp.qq.com" />
    <add key="EmailSmtpPort" value="465" />
    <add key="EmailSenderLoginName" value="57795973" />
    <add key="EmailSenderLoginPasswords" value="ljdrkepotropbieg" />
    <add key="EmailFromName" value="Chunlong" />
    <add key="EmailToName" value="SharePointer" />
    <add key="EmailCcName" value="Chunlong" />
    <add key="EmailIsSenderLoginPasswordsEncrypted" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <SlowPerformanceMonitor.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>Beta1.0</value>
      </setting>
    </SlowPerformanceMonitor.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SlowPerformanceMonitor.Properties.Settings>
      <setting name="Url" serializeAs="String">
        <value>http://www.bing.com;http://www.douban.com;http://www.google.com</value>
      </setting>
      <setting name="BroswerType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MonitorDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="TimeSpanToSleepInSeconds" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SlowPerformancePageLoadThreshold" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SlowPerformanceReoccurrenceThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="IsSignInRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManuallySignInTimeInSeconds" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="EmailToEmailAddress" serializeAs="String">
        <value>chunlonl@microsoft.com</value>
      </setting>
      <setting name="EmailFromEmailAddress" serializeAs="String">
        <value>57795973@qq.com</value>
      </setting>
      <setting name="EmailCcEmailAddress" serializeAs="String">
        <value>57795973@qq.com</value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>Slow performance was detected</value>
      </setting>
      <setting name="EmailBody" serializeAs="String">
        <value>Slow performance was detected just now, pls check PageLoadMetricsCsv and log file for more details. </value>
      </setting>
      <setting name="EmailSmtpAddress" serializeAs="String">
        <value>smtp.qq.com</value>
      </setting>
      <setting name="EmailSmtpPort" serializeAs="String">
        <value>465</value>
      </setting>
      <setting name="EmailSenderLoginName" serializeAs="String">
        <value>57795973</value>
      </setting>
      <setting name="EmailSenderLoginPasswords" serializeAs="String">
        <value>ljdrkepotropbieg</value>
      </setting>
      <setting name="PageLoadTimeoutInSeconds" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="EmailFromName" serializeAs="String">
        <value>Chunlong</value>
      </setting>
      <setting name="EmailToName" serializeAs="String">
        <value>Chunlong</value>
      </setting>
      <setting name="EmailCcName" serializeAs="String">
        <value>Chunlong</value>
      </setting>
      <setting name="EmailIsSenderLoginPasswordsEncrypted" serializeAs="String">
        <value>True</value>
      </setting>
    </SlowPerformanceMonitor.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MailKit" publicKeyToken="4e064fe7c44a8f1b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>