<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.Settings>
            <setting name="EmailFromName" serializeAs="String">
                <value>Chunlong</value>
            </setting>
            <setting name="EmailFromEmailAddress" serializeAs="String">
                <value>57795973@qq.com</value>
            </setting>
            <setting name="EmailToName" serializeAs="String">
                <value>SharePointer</value>
            </setting>
            <setting name="EmailToEmailAddress" serializeAs="String">
                <value>chunlonl@microsoft.com</value>
            </setting>
            <setting name="EmailCcName" serializeAs="String">
                <value>Chunlong</value>
            </setting>
            <setting name="EmailCcEmailAddress" serializeAs="String">
                <value>57795973@qq.com</value>
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>Slow performance was detected</value>
            </setting>
            <setting name="EmailBody" serializeAs="String">
                <value>Slow performance was detected just now, pls check PageLoadMetricsCsv and log file for more details. </value>
            </setting>
            <setting name="EmailSmtpAddress" serializeAs="String">
                <value>smtp.qq.com</value>
            </setting>
            <setting name="EmailSmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="EmailSenderLoginName" serializeAs="String">
                <value>57795973</value>
            </setting>
            <setting name="EmailSenderLoginPasswords" serializeAs="String">
                <value>ljdrkepotropbieg</value>
            </setting>
            <setting name="EmailIsSenderLoginPasswordsEncrypted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PageLoadMetricsCsv" serializeAs="String">
                <value>.\Logs\PageLoadMetricsCsv.csv</value>
            </setting>
        </Core.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MailKit" publicKeyToken="4e064fe7c44a8f1b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Core.Properties.Settings>
      <setting name="ChromeFactory" serializeAs="String">
        <value>Core.WebDriverFactories.ExtendedChromeDriverFactory</value>
      </setting>
      <setting name="IeFactory" serializeAs="String">
        <value>Core.WebDriverFactories.ExtendedIeDriverFactory</value>
      </setting>
      <setting name="EdgeFactory" serializeAs="String">
        <value>Core.WebDriverFactories.ExtendedEdgeDriverFactory</value>
      </setting>
      <setting name="FireFoxFactory" serializeAs="String">
        <value>Core.WebDriverFactories.ExtendedFireFoxDriverFactory</value>
      </setting>
    </Core.Properties.Settings>
  </applicationSettings>
</configuration>