<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net452" />
  <package id="MailKit" version="2.2.0" targetFramework="net452" />
  <package id="MimeKit" version="2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.6.6" targetFramework="net452" />
  <package id="NLog.Config" version="4.6.6" targetFramework="net452" />
  <package id="NLog.MailKit" version="3.0.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.6.6" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="76.0.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.59" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>